@model AUTCoordenadasEntities.Entities.Usuario

<div>
    <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini" style="float:right">Bienvenido: Usuario</a>
</div>
<div class="d-flex justify-content-center">

    <div>
        <p style="font-size:19px">Actualización de usuario</p>
        <form asp-controller="Administrador" asp-action="Actualizar">
            <div class="form-group w-100">
                <label asp-for="Id" class="control-label">Id de usuario:</label>
                <input asp-for="Id" value="@(ViewBag.Usuario.Id)" class="form-control" readonly/>
            </div>

            <div class="form-group w-100">
                <label asp-for="usuario" class="control-label">Nombre de usuario:</label>
                <input asp-for="usuario" value="@(ViewBag.Usuario.usuario)" class="form-control" required />
            </div>
            <div class="form-group w-100">
                <label asp-for="Correo" class="control-label">Correo:</label>
                <input asp-for="Correo" value="@(ViewBag.Usuario.Correo)" class="form-control" required />
            </div>
            <div class="form-group w-100">
                <label asp-for="OficinaID" class="control-label">Oficina:</label>
                <select asp-for="OficinaID" value="@(ViewBag.Usuario.OficinaID)" name="Oficina" id="oficina" class="text-center">
                    <option value="0">Seguridad</option>
                    <option value="1">Denuncias</option>
                </select>
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-primary" style="background-color: #005cb9;" />
            </div>
        </form>


    </div>
</div>