<div>
    <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini" style="float:right">Bienvenido: Usuario</a>
</div>
<div class="d-flex justify-content-center">

    <div>
        <p style="font-size:19px">Buscar Oficina</p>
        <form>

            <div class="form-group w-100">
                <label class="control-label">Nombre de oficina:</label>
                <input class="form-control" />
            </div>


            <div class="text-center">
                <input type="submit" value="Buscar" class="btn btn-primary" style="background-color: #005cb9;" />
            </div>
        </form>


    </div>
</div>

<div class="container p-3 my-3 text-black-50" style="background-color: #ffffff;">
    <h1>Usuarios:</h1>

    <div class="table-responsive">
        <table class="table" id="table">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Institución</th>
            </tr>

            <tr>
                <td>OF01</td>
                <td>Oficina1</td>
                <td>Usuario1</td>
                <td>OIJ</td>
            </tr>

            <tr>
                <td>OF02</td>
                <td>Oficina2</td>
                <td>Usuario2</td>
                <td>OIJ</td>
            </tr>

        </table>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-3">
            <div class="modal fade" id="modalC">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                x
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <form asp-area="" asp-controller="Administrador" asp-action="ActualizaOficina">
                                    <input type="submit" value="Actualizar Oficina" class="btn btn-primary" style="background-color: #005cb9; width: 200px;" />
                                </form>
                                <br />
                                <input type="submit" value="Borrar Oficina" class="btn btn-primary" style="background-color: #005cb9; width: 200px;" />

                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    var table = document.getElementById('table');

    for (var i = 1; i < table.rows.length; i++) {
        table.rows[i].onclick = function () {
           // rIndex = this.rowIndex;
           // alert(this.cells[0].innerHTML);
           //alert("Borrar");
            $("#modalC").modal('show');
        };
    }


</script>