<!-- Sidebar -->
<div id="sidebar1" class="w3-sidebar w3-light-grey w3-bar-block bg-dark" style="width:25%">

    <!-- encabezado -->
    <h3 id="sidebar1" class="w3-bar-item">
        <img src="images/OIJ.png" with="40" height="32" />Administración
    </h3>
    <br />

    <!-- solicitud -->
    <a class="nav-link text-white" asp-area="" asp-controller="Administrador" asp-action="Solicitud">
        Solicitudes
    </a>

    <!--registrar usuario -->
    <a id="sidebar1" class="nav-link text-white" asp-area="" asp-controller="Administrador" asp-action="Registro">Registro de usuario</a>

    <!--buscar usuario -->
    <a id="sidebar1" class="nav-link text-white" asp-area="" asp-controller="Administrador" asp-action="Buscar">Buscar Usuario</a>

    <!--registrar oficina -->
    <a id="sidebar1" class="nav-link text-white" asp-area="" asp-controller="Administrador" asp-action="RegistroOficina">Registro de Oficina</a>

    <!--buscar oficina -->
    <a id="sidebar1" class="nav-link text-white" asp-area="" asp-controller="Administrador" asp-action="BuscarOficina">Buscar Oficina</a>

</div>