<div>
    <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini" style="float:right">Bienvenido: Usuario</a>
</div>
<div class="d-flex justify-content-center">

    <div>
        <p style="font-size:19px">Registro de Oficinas</p>
        <form>

            <div class="form-group w-100">
                <label class="control-label">Nombre de oficina:</label>
                <input class="form-control" required/>
            </div>
            <div class="form-group w-100">
                <label class="control-label">Codigo de Oficina:</label>
                <input class="form-control" required/>
            </div>
            <div class="form-group w-100">
                <label class="control-label">Usuario:</label>
                <input class="form-control" required/>
            </div>
            <div class="form-group w-100">
                <label class="control-label">Institución:</label>
                <input class="form-control" />
            </div>

            <div class="text-center">
                <input type="submit" value="Registrar" class="btn btn-primary" style="background-color: #005cb9;" />
            </div>
        </form>


    </div>
</div>
