@model AUTCoordenadasEntities.Entities.Usuario
<div>
    <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini" style="float:right">Bienvenido: Usuario</a>
</div>
<div class="d-flex justify-content-center">

    <div>
        <p style="font-size:19px">Registro de usuario</p>
        <form asp-controller="Administrador" asp-action="Registro" method="post">
            <div class="form-group w-100">
                <label asp-for="usuario" class="control-label">Nombre de usuario:</label>
                <input asp-for="usuario" class="form-control" required />
            </div>
            <div class="form-group w-100">
                <label asp-for="Identificacion" class="control-label">Identificación:</label>
                <input asp-for="Identificacion" class="form-control" required />
            </div>
            <div class="form-group w-100">
                <label asp-for="NombreUsuario" class="control-label">Nombre:</label>
                <input asp-for="NombreUsuario" class="form-control" required />
            </div>
            <div class="form-group w-100">
                <label asp-for="PrimerApellido" class="control-label">Primer apellido:</label>
                <input asp-for="PrimerApellido" class="form-control" required />
            </div>
            <div class="form-group w-100">
                <label asp-for="SegundoApellido" class="control-label">Segundo apellido:</label>
                <input asp-for="SegundoApellido" class="form-control" required />
            </div>
            <div class="form-group w-100">
                <label asp-for="Contrasena" class="control-label">Contraseña:</label>
                <input asp-for="Contrasena" type="password" class="form-control" required />
            </div>
            <div class="form-group w-100">
                <label asp-for="Correo" class="control-label">Correo:</label>
                <input asp-for="Correo" class="form-control" required />
            </div>
            <div class="form-group w-100">
                <label  class="control-label">Cargo:</label>
                <input  class="form-control" required />
            </div>
            <div class="form-group w-100">
                <label asp-for="OficinaID" class="control-label">Oficina:</label>
                <select asp-for="OficinaID" name="Oficina" class="text-center">
                    <option value="0">Seguridad</option>
                    <option value="1">Denuncias</option>
                </select>
            </div>

            <div class="text-center">
                <input type="submit" value="Registrar" class="btn btn-primary" style="background-color: #005cb9;" />
            </div>
        </form>

    </div>
</div>
