@model AUTCoordenadasEntities.Entities.Mensaje

<div>
    <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini" style="float:right">Bienvenido: Usuario</a>
</div>

<form class="row gy-2 gx-3 align-items-center" asp-action="ObtenerMensajes">
    <input type="submit" value="Mostrar mensajes" class="btn btn-primary" style="background-color: #F35C2D;" />
</form>

<div class="container p-3 my-3 text-black-50" style="background-color: #ffffff;">
    <h1>Solicitudes:</h1>


    <div class="table-responsive">
        <table class="table" id="table">
            <tr>
                <th>Accion</th>
                <th>Fecha</th>
                <th>IdUsuario</th>
            </tr>
            @foreach (BaseM temp in ViewBag.Mensajes)
            {
<tr>
    <td>@temp.accion</td>
    <td>@temp.fecha</td>
    <td>@temp.usuario</td>


</tr>}
        </table>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-3">
            <div class="modal fade" id="modalN">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                x
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <input id="btnAceptar" type="submit" value="Aceptar solicitud" class="btn btn-primary" style="background-color: #005cb9; width: 200px;" />

                                <button>Click me</button>

                                <div class="form-group w-100">
                                    <label class="control-label">Motivo:</label>
                                    <input id="motivo" class="form-control" />
                                </div>

                                <input id="btnRechazar" type="submit" value="Rechazar solicitud" class="btn btn-primary" style="background-color: #005cb9; width: 200px;" />

                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>

    var table = document.getElementById('table');
    var usuario;
    var tipo;
    var motivo;

    for (var i = 1; i < table.rows.length; i++) {
        table.rows[i].onclick = function () {
            //rIndex = this.rowIndex;
            //   usuario = this.cells[0].innerHTML;
            tipo = this.cells[0].innerHTML;
            usuario = this.cells[2].innerHTML;
            // alert("Borrar");


            $("#modalN").modal('show');

        };
    }

    document.getElementById("btnAceptar").onclick = function () { aceptar() };
    document.getElementById("btnRechazar").onclick = function () { rechazar() };

    function rechazar() {
        // ajax

        // alert(id);
        motivo = document.getElementById('motivo').value;
        buscar(tipo, usuario, motivo);
        //   alert(document.getElementById('motivo').value);
    }

    function aceptar() {
        // ajax

        // alert(id);
        //motivo = document.getElementById('motivo').value;
        aceptarSolicitud(tipo, usuario);
        //   alert(document.getElementById('motivo').value);
    }

    function buscar(accion, usuario, motivo) {

        var parametros = {
            "accion": accion,
            "usuario": usuario,
            "motivo": motivo
        };
        $.ajax(
            {
                data: parametros,
                url: '/Administrador/RechazarMensaje',
                type: 'post',
                beforeSend: function () {
                    //$("#resultado").html("Procesando");
                },
                success: function (response) {
                    //$("#resultado").html(response);

                    if (response.status == true) {

                        window.location.href = "/Administrador/Solicitud"
                    }

                    //alert("Enviado");

                }
            }
        );

    }// ACT

    function aceptarSolicitud(accion, usuario) {

        var parametros = {
            "accion": accion,
            "usuario": usuario
        };
        $.ajax(
            {
                data: parametros,
                url: '/Administrador/AceptarMensaje',
                type: 'post',
                beforeSend: function () {
                    //$("#resultado").html("Procesando");
                },
                success: function (response) {
                    //$("#resultado").html(response);
                    /*
                    if (response.status == true) {

                        window.location.href = "/Administrador/Solicitud"
                    }
                    */
                    alert("Enviado");

                }
            }
        );

    }// ACT


</script>