
<div>
    <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini" style="float:right">Bienvenido: Usuario</a>
</div>
<div class="d-flex justify-content-center btn-group-vertical">

    <p style="font-size:34px">¡Tu tarjeta ha sido bloqueada por acumulación de intentos!</p>
 
    <input type="submit" value="Pedir desbloqueo" class="btn btn-primary" style="background-color: #005cb9; width: 200px;"/>
    <p style="font-size:13px">Revise sus notificaciones para conocer la respuesta</p>
    
</div>
