@model AUTCoordenadasEntities.Entities.BaseModel
@using Microsoft.AspNetCore.Http
<div>
    <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini" style="float:right">Bienvenido: Usuario</a>
</div>
<div class="d-flex justify-content-center btn-group-vertical">

   

    <form class="row gy-2 gx-3 align-items-center" asp-action="SolicitarTarjeta">
        <input type="submit" value="Solicitar tarjeta" class="btn btn-primary" style="background-color: #F35C2D;" />
    </form>
</div>

<script>
   
    var usuario;
    var tipo;
    var motivo;

    document.getElementById("btnVerificar").onclick = function () { verificar() };
    
    function verificar() {
        // ajax

        // alert(id);
        motivo = document.getElementById('CA1').value;
        alert(motivo);
        //   alert(document.getElementById('motivo').value);
    }

</script>