<div>
    <a class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini" style="float:right">Bienvenido: Usuario</a>
</div>
<div class="d-flex justify-content-center btn-group-vertical">

    <p style="font-size:34px">@ViewBag.Salida</p>

</div>